.header-brand {
    background-color: #3f51b5;
}

.checkbox-adv input[type=checkbox]:checked~.circle-icon, .checkbox-adv input[type=radio]:checked~.circle-icon, .radio-adv input[type=checkbox]:checked~.circle-icon, .radio-adv input[type=radio]:checked~.circle-icon {
    background-color: #ffa000;
}

.form-control:focus {
    border-color: #ffa000;
}

a,
.form-group-label.control-focus .floating-label {
    color: #ffa000;
}

a:focus, a:hover {
    color: #ffa000;
    outline: 0;
    text-decoration: underline;
}

.checkbox-adv .circle-check:after, .radio-adv .circle-check:after {
    background-color: #ffa000;
}

.progress-circular-spinner {
    border: 4px solid #ffa000;
}

#view-patients {
    display: none;
}

#view-patients .fbtn {
    border-radius: 0;
    background-color: #ffa000;
    width: auto;
}

#view-patients .fbtn-lg {
    padding-left: 10px;
    padding-right: 10px;
}

.patient-graphic {
    border-top: 1px solid #dbdbdb;
    min-height: 200px;
    margin: 0;
    padding: 10px;
}

.telemetry-info {
    position: relative;
    top: -3px;
}

.btn-brand-accent {
	background-color: #ffa000;
}

.btn-brand-accent:active, .btn-brand-accent:focus, .btn-brand-accent:hover{
    background-color: rgb(245, 183, 80);
}