@import markup.BreadCrumbs;

@if(BreadCrumbs.getInstance().heading() != null) {
<div class="content-heading">
    <div class="container">
        <h1 class="heading">@BreadCrumbs.getInstance().heading()</h1>
    </div>
</div>
}