@(form: Form[Application.LoginForm])

@layout("Вход в систему") {
<div class="col-lg-4 col-lg-push-4 col-sm-6 col-sm-push-3">
    <section class="content-inner">
        @if(form.hasGlobalErrors) {
            <div class="tile tile-red">
                <div class="tile-inner">
                    @form.globalError.message
                </div>
            </div>
        }
        <div class="card-wrap">
            <div class="card">
                <div class="card-main">
                    <div class="card-header">
                        <div class="card-inner">
                            <h1 class="card-heading">Вход в систему</h1>
                        </div>
                    </div>
                    <div class="card-inner">
                        @helper.form(routes.Application.authenticate) {
                            <div class="form-group form-group-label">
                                <div class="row">
                                    <div class="col-md-10 col-md-push-1">
                                        <label class="floating-label" for="login-username">Логин</label>
                                        <input class="form-control" id="login-username" type="text" name="login">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-group-label">
                                <div class="row">
                                    <div class="col-md-10 col-md-push-1">
                                        <label class="floating-label" for="login-password">Пароль</label>
                                        <input class="form-control" id="login-password" type="password" name="password">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-10 col-md-push-1">
                                        <button class="btn btn-block waves-attach waves-button waves-effect">Войти</button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-10 col-md-push-1">
                                        <div class="checkbox checkbox-adv">
                                            <label for="login-remember">
                                                <input class="access-hide" id="login-remember" name="login-remember" type="checkbox">Запомнить
                                                <span class="circle"></span><span class="circle-check"></span><span class="circle-icon icon">done</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
}
